body {
  background-color: ivory;
}
#canvas {
  border: 1px solid red;
}

.jumbotron-fluid {
  text-shadow: #444 0 1px 1px;
  color: #fff;
  position: relative;
  height: 40vh;

  display: flex;
  align-items: center;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
